<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
    
    <app-card cardTitle="New Data Migration">
      <p class="text-muted mb-4">
        Select your source CRM system to begin configuring your data migration to Salesforce.
      </p>

      <div class="form-group mb-4">
        <label class="font-weight-bold mb-2">Source CRM System</label>
        
        <select class="form-control" [(ngModel)]="selectedCrm">
          <option value="" disabled selected>-- Select a CRM --</option>
          
          @for (crm of crmList; track crm.id) {
            <option [value]="crm.id">
              {{ crm.name }}
            </option>
          }
        </select>
      </div>

      <div class="text-right mt-4 pt-3 border-top">
        <button 
          class="btn btn-primary" 
          [disabled]="!selectedCrm" 
          (click)="goToMapping()">
          Continue to Mapping Data
        </button>
      </div>

    </app-card>
    
  </div>
</div>