<div class="ms-auto">
  <ul class="list-unstyled">
    <li>
      <div class="dropdown pc-h-item header-user-profile" ngbDropdown>
        <a
          class="pc-head-link head-link-primary dropdown-toggle arrow-none me-0"
          data-bs-toggle="dropdown"
          href="javascript:"
          ngbDropdownToggle
        >
          <img src="assets/images/user/310818.png" alt="user-image" class="user-avtar" />
          <span>
            <i class="ti ti-settings"></i>
          </span>
        </a>
        <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
          <div class="dropdown-header text-center py-3">
            <h4 class="mb-1">{{ getDisplayName(currentUserName) }}</h4>
            <small class="text-muted d-block">{{ currentUserEmail || 'Signed in user' }}</small>
          </div>

          <div class="dropdown-divider"></div>

          <a class="dropdown-item" [routerLink]="['/profile']">
            <i class="ti ti-user me-2"></i>
            <span>My Profile</span>
          </a>
          <a class="dropdown-item" href="javascript:" (click)="onLogout()">
            <i class="ti ti-logout me-2"></i>
            <span>Logout</span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>